<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
  		<form method="POST" action="/PigLatinize">
  			<label for="english">English Text</label>
  			<input type="text" name="text" id="english">
  			<input type="submit" name="submit">
  		</form>
  </body>
</html>